[Desktop Entry]
Name=Yoshimi
Comment=Real Time Synthesizer
GenericName=Synthesizer
Version=1.3.7
Type=Application
Categories=AudioVideo;X-Sound;Audio;
Exec=yoshimi
TryExec=yoshimi
Terminal=false
StartupNotify=true
Icon=yoshimi
